{% extends 'master' %}

{% block title %}{{ lecture.name }}{% endblock %}
{% block scripts %}
<script src="/scripts/ajax_lecture.js"></script>
{% endblock %}

{% block content %}
  <h2>{{ lecture.name }}</h2>
  
  <h3>Kar</h3>
  {{ faculty.name }}
  <h3>Tárgy helye</h3>
  <p>{{ lecture.place }}</p>
  <h3>Tárgy időpontja</h3>
  <p>{{ lecture.time }}</p>
  <h3>Tárgy maximális férőhelye</h3>
  <p>{{ lecture.max }}</p>
  <h3>Felhasználók akik felvették ezt a tárgyat:</h3>
   <div id="users-taked-class">
  {% for user in users %}
  <p>{{user.username}}
  {% if( currentUser.isadmin == 'true') %}
  <a class="btn btn-danger drop-lecture" href="{{ 'drop_user_lecture' | route({id: lecture.id , user_id : user.id}) }}">Tárgyról lejelentkezteteés</a>
  </p> 
  {% endif %}
  {% endfor %}
  </div>
  {% if currentUser %}
  
  <div id=lecture-buttons>
    {% if( takedClass.length == 0) %}
    <a class="btn btn-primary assign-lecture" href="{{ 'assign_lecture' | route({id: lecture.id}) }}">Tárgy felvétele</a>
    {% else %}
    <a class="btn btn-primary drop-lecture" href="{{ 'drop_lecture' | route({id: lecture.id}) }}">Tárgy leadása</a>
    {% endif %}
    {% if( currentUser.isadmin == 'true') %}
    <a class="btn btn-primary" href="{{ 'lecture_edit' | route({id: lecture.id}) }}">Módosítás</a>
    <a class="btn btn-danger" href="{{ 'lecture_delete' | route({id: lecture.id}) }}">Törlés</a>
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
