{% extends 'master' %}
         

{% block title %}Kezdőlap{% endblock %}
         

{% block content %}

  {% if currentUser %}
  <form action="{{ 'lecture_list' | route }}" method="GET">
    <div class="input-group search-box">
      <input type="text" class="form-control" placeholder="Keresés..." name="lectureName">
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit">Mehet!</button>
      </span>
    </div>
  </form>
   
  {% for facultyBatch in faculties | batch(3) %}
  <div class="row">
    {% for faculty in facultyBatch %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ faculty.name }}
          <a href="{{ 'lecture_list' | route }}?faculty={{ faculty.id }}" class="btn btn-warning btn-xs pull-right">Összes megtekintése</a>
        </div>
        <div class="list-group">
          {% for lecture in faculty.latestLectures %}
          <a href="{{ 'lecture_page' | route({id: lecture.id}) }}" class="list-group-item">{{ lecture.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  {% else %}
  <div>A tárgyfelvételhez be kell jelentkezni</div>
  {% endif %}
{% endblock %}




